<header>
         <a class="button" href="{{url_for('admin.index')}}"> Dashboard </a> 
         <a class="button" href="{{url_for ('admin.post_list')}}"> List post </a> 
         <a class="button" href="{{url_for ('admin.create_post')}}"> Add new post </a> 
         <a class="button" href="{{url_for ('admin.create_new_user')}}"> create new user </a> 
         <a class="button" href="{{url_for ('admin.users_list')}}"> user list </a> 
         <a class="button" href="{{ url_for('admin.logout')}}"> Logout </a> 

</header>