{% extends 'admin/base.html'%}
{%block title %} Admin - creat new user{%endblock%}

{% block page_content %}

<form action="{{url_for ('admin.create_new_user')}}", method="POST">
    {{form.hidden_tag()}}

    full name: {{form.full_name}} <br>
    {%if form.full_name.errors%}
    <ul>
        {%for errors in form.full_name.errors%}
        <li>{{errors}}</li>
        {%endfor%}
    </ul>
    {%endif%}

    email: {{form.email}} <br>
    {%if form.email.errors%}
    <ul>
        {%for errors in form.email.errors%}
        <li>{{errors}}</li>
        {%endfor%}
    </ul>
    {%endif%}

    password: {{form.password}} <br>
    {%if form.password.errors%}
    <ul>
        {%for errors in form.password.errors%}
        <li>{{errors}}</li>
        {%endfor%}
    </ul>
    {%endif%}

    confirmed password: {{form.confirm_password}} <br>
    {%if form.confirm_password.errors%}
    <ul>
        {%for errors in form.confirm_password.errors%}
        <li>{{errors}}</li>
        {%endfor%}
    </ul>
    {%endif%}
    <input type="submit", value='add'>
</form>

</form>
{% endblock %}